@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

.login-page {
  display: flex;
  color: #e0e0e0;
  background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
  font-family: "Roboto", sans-serif;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10% 0;
  width: 50%;
  height: 100vh;
}

.left .white-logo {
  display: none;
}

.welcome-phase h1 {
  font-size: 5em;
  font-weight: 400;
  line-height: 1.5em;
}

.welcome-phase p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
}

label h2 {
  font-size: 3.5em;
  font-weight: 400;
  line-height: 2.5em;
}

.user i,
.password i {
  margin-top: -5%;
  margin-left: -10%;
}

.user img,
.password img {
  width: 20px;
  height: auto;
}

.user,
.password {
  display: flex;
  align-items: center;
}

.error {
  font-size: 1.05em;
  color: #e9b425;
  text-align: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-image: url(./src/assets/login-img.png);
  background-size: cover;
  width: 50%;
  height: 100vh;
}

.right img {
  width: 50%;
}

@media (max-width: 1500px) {
  .welcome-phase h1 {
    font-size: 2.5em;
  }

  .welcome-phase p {
    font-size: 1em;
  }

  label h2 {
    font-size: 2em;
  }

  .user img,
  .password img {
    width: 15px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .left {
    width: 100%;
    padding: 0 20% 0;
  }

  .left .white-logo {
    display: block;
    width: 90%;
  }

  .welcome-phase h1 {
    font-size: 2.5em;
  }

  .welcome-phase p {
    font-size: 1em;
  }

  label h2 {
    font-size: 2em;
  }

  .user img,
  .password img {
    width: 15px;
    height: auto;
  }

  .right {
    display: none;
  }
}
