button {
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-style: none;
    padding: 4%;
    color: #ffffff;
    margin-top: 5%;
    cursor: pointer;
}