.login-button {
  width: 105%;
  border-radius: 50px;
  background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-style: none;
  padding: 4%;
  color: #ffffff;
  margin-top: 5%;
  cursor: pointer;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
}
.continue-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  height: 100%;
  width: 100%;
  border: none;
  color: #c13216;
}

.continue-button button {
  background: transparent;
  color: #c13216;
  border: none;
  padding: 2%;
  cursor: pointer;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  background: transparent;
  color: #ffffff;
  font-size: 0.75em;
  border: none;
  cursor: pointer;
}

.logout-button button {
  background: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.button404 {
  background-color: #333333;
  color: #ffffff;
  padding: 5%;
  border: none;
  cursor: pointer;
  font-size: 0.875em;
  font-weight: 700;
}

@media (max-width: 768px) {
  .logout-button {
    width: 20%;
    order: 1;
  }

  .continue-button {
    width: 80%;
    order: 2;
  }
}
