.weather {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 1%;
}

.place {
  font-size: 0.875em;
}

.temp {
  font-size: 2em;
  font-weight: 700;
}

.temp img {
  width: 25px;
  height: auto;
}

@media (max-width: 768px) {
  .weather {
    justify-content: center;
  }
}
