@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

.home-page {
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 3% 0;
  height: 25vh;
}

header img {
  width: auto;
  height: 50px;
}

main {
  display: flex;
  height: 65vh;
}

.home-left {
  width: 40%;
  z-index: -1;
}

.uol-ball {
  margin-left: -15%;
}

.home-right {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  width: 60%;
}

.mission {
  text-align: end;
}

.mission h2 {
  color: #c12d18;
  font-weight: 700;
  font-size: 3em;
}

.mission h2:first-child {
  font-size: 2em;
}

.mission p {
  font-size: 1.4em;
}

footer {
  display: flex;
  width: 100%;
  height: 10vh;
  background: linear-gradient(90.16deg, #33383d 0%, #1c1d20 100%);
  color: #ffffff;
  z-index: 2;
}

.footer-message {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  text-align: end;
  font-size: 0.75em;
}

.footer-message p {
  padding: 2%;
  border-right: 1px solid #ffffff;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26%;
}

.countdown-warning {
  text-align: end;
  font-size: 0.875em;
  margin-right: 10%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 24%;
}

@media (max-width: 3000px) {
  header img {
    width: auto;
    height: 100px;
  }

  .uol-ball {
    width: 125%;
    height: auto;
    margin-left: -20%;
  }

  .mission h2 {
    font-size: 5em;
  }

  .mission h2:first-child {
    font-size: 4.5em;
  }

  .mission p {
    font-size: 2.75em;
  }

  .footer-message {
    width: 50%;
    font-size: 1.1em;
  }
}

@media (max-width: 2000px) {
  .mission h2 {
    font-size: 4.5em;
  }

  .mission h2:first-child {
    font-size: 3.25em;
  }

  .mission p {
    font-size: 2.5em;
  }
  .countdown {
    width: 35%;
  }

  .buttons {
    width: 15%;
  }

  header img {
    height: 90px;
  }
}

@media (max-width: 1832px) {
  .mission h2 {
    font-size: 4em;
  }

  .mission h2:first-child {
    font-size: 3em;
  }

  .mission p {
    font-size: 2em;
  }
}

@media (max-width: 1500px) {
  main {
    height: 60vh;
  }

  .mission h2 {
    font-size: 3em;
  }

  .mission h2:first-child {
    font-size: 2em;
  }

  .mission p {
    font-size: 1.4em;
  }

  footer {
    height: 15vh;
  }
}

@media (max-width: 1300px) {
  .mission h2 {
    font-size: 2.5em;
  }

  .mission h2:first-child {
    font-size: 1.75em;
  }

  .mission p {
    font-size: 1.25em;
  }

  .footer-message {
    font-size: 0.6em;
  }
}

@media (max-width: 1100px) {
  .mission h2 {
    font-size: 2.25em;
  }

  .mission h2:first-child {
    font-size: 1.75em;
  }

  .mission p {
    font-size: 1.1em;
  }

  .countdown {
    width: 26%;
  }

  .buttons {
    width: 24%;
  }
}

@media (max-width: 920px) {
  .mission h2 {
    font-size: 2em;
  }

  .mission h2:first-child {
    font-size: 1.25em;
  }

  .mission p {
    font-size: 0.9em;
  }

  .footer-message {
    font-size: 0.6em;
  }
}

@media (max-width: 850px) {
  .mission h2 {
    font-size: 1.75em;
  }

  .mission h2:first-child {
    font-size: 1.25em;
  }

  .mission p {
    font-size: 0.875em;
  }
}

@media (max-width: 768px) {
  header img {
    width: auto;
    height: 140px;
  }

  .home-left {
    width: 80%;
    z-index: -1;
  }

  .uol-ball {
    width: 150%;
    margin-left: -40%;
  }

  .home-right {
    display: none;
  }

  .footer-message {
    display: none;
  }

  .countdown {
    display: none;
  }

  .countdown-warning {
    display: none;
  }
  .buttons {
    width: 100%;
  }
}

@media (max-width: 768px) {
  header img {
    width: auto;
    height: 75px;
  }
}

@media (max-width: 345px) {
  header img {
    width: auto;
    height: 50px;
  }

  .uol-ball {
    margin-top: 30%;
  }
}

@media (max-width: 400px) and (max-height: 900px) {
  .uol-ball {
    margin-top: 50%;
  }
}
