.clock {
    display: flex;
    flex-direction: column;
    margin-right: 8%;
}

.time {
    font-size: 6em;
    font-weight: 700;
}

.day {
    font-size: 0.875em;
    text-align: center;
    margin-bottom: 10%;
}